<div class="row">
    <div class="left-section">
        <div class="profile-section">
            <a href="" class="menu-trigger">
                <div id="nav-icon1">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </a>
            <img src="public/images/co/profile.png" alt="">
            <h4>Welcome: <strong>Alex Badila</strong></h4>
            <h4>Email: <strong>alexbadila@email.com</strong></h4>
            <h4>Phone nr: <strong> + 4087789879</strong></h4>
            <h4>Country: <strong>Romania</strong></h4>
            <br>
            <br>
            <br>
            <div class="text-center">
                <a href="" class="btn btn-sm btn-submit-green">Profile</a>
            </div>
        </div>
        <div class="left-menu closed">
            <ul>
                <li><a href="/">Dashboard</a></li>
                <li><a href="/profile">Profile</a></li>
                <li><a href="/open-account">Open account</a></li>
                <li><a href="/deposit">Deposit</a></li>
                <li><a href="/withdrawal">Withdrawal</a></li>
                <li><a href="/transfers">Transfers</a></li>
                <li><a href="/summary">Summary</a></li>
                <li><a href="/platforms">Platforms</a></li>
            </ul>
        </div>
    </div>

