<div class="row">
    <div class="left-section">
        <div class="profile-section">
            <a href="" class="menu-trigger">
                <ul>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
            </a>
            <img src="public/images/co/profile.png" alt="">
            <h4>Welcome: <strong>Alex Badila</strong></h4>
            <h4>Email: <strong>alexbadila@email.com</strong></h4>
            <h4>Phone nr: <strong> + 4087789879</strong></h4>
            <h4>Country: <strong>Romania</strong></h4>
            <br>
            <br>
            <br>
            <div class="text-center">
                <a href="" class="btn btn-sm btn-submit-green">Profile</a>
            </div>
        </div>
        <div class="left-menu">
            <ul>
                <li><a href="">Dashboard</a></li>
                <li><a href="">Profile</a></li>
                <li><a href="">Open account</a></li>
                <li><a href="">Deposit</a></li>
                <li><a href="">Withdrawal</a></li>
                <li><a href="">Transfers</a></li>
                <li><a href="">Summary</a></li>
                <li><a href="">Platforms</a></li>
            </ul>
        </div>
    </div>

