<div class="row">
    <div class="left-section">
        <div class="profile-section">
            <a href="" class="menu-trigger">
                <ul>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
            </a>
            <img src="public/images/co/profile.png" alt="">
            <h4>Welcome: <strong>Alex Badila</strong></h4>
            <h4>Email: <strong>alexbadila@email.com</strong></h4>
            <h4>Phone nr: <strong> + 4087789879</strong></h4>
            <h4>Country: <strong>Romania</strong></h4>
            <br>
            <br>
            <div class="text-center">
                <a href="" class="btn btn-md btn-submit-green">Profile</a>
            </div>
        </div>
        <div class="left-menu">
            <ul>
                <li><a href="">Menu item 1</a></li>
                <li><a href="">Menu item 2</a></li>
                <li><a href="">Menu item 3</a></li>
                <li><a href="">Menu item 4</a></li>
                <li><a href="">Menu item 5</a></li>
                <li><a href="">Menu item 6</a></li>
                <li><a href="">Menu item 7</a></li>
            </ul>
        </div>
    </div>
</div>
