    <div class="right-section">
        <div class="row">
            <div class="col-xs-12 col-sm-6 text-center">
                <a href="" class="btn btn-dashboard"><strong>Open</strong>account</a>
                <p>Here you can open a new <strong>Real</strong><br>
                    or <strong>Demo Account</strong>
                </p>
            </div>
            <div class="col-xs-12 col-sm-6 text-center">
                <a href="" class="btn btn-dashboard"><strong>Internal</strong>transfer</a>
                <p>Here you can transfer your money<br>
                    internally, from one trading account<br>
                    to another
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-6 text-center">
                <a href="" class="btn btn-dashboard"><strong>Deposit</strong></a>
                <p>Here you can deposit money</p>
            </div>
            <div class="col-xs-12 col-sm-6 text-center">
                <a href="" class="btn btn-dashboard"><strong>Account</strong>History</a>
                <p>Here you can find the whole history<br>
                    of your <strong>Client Office</strong>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-6 text-center">
                <a href="" class="btn btn-dashboard"><strong>Withdrawal</strong></a>
                <p>Here you can request a money<br>
                    withdrawal
                </p>
            </div>
            <div class="col-xs-12 col-sm-6 text-center">
                <a href="" class="btn btn-dashboard"><strong>Platforms</strong></a>
                <p>Here you will find full description<br>
                    and access to all available platforms
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-6 text-center">
                <a href="" class="btn btn-dashboard"><strong>Contest</strong></a>
                <p>Here you can participate in a contest</p>
            </div>
            <div class="col-xs-12 col-sm-6 text-center">
                <a href="" class="btn btn-dashboard"><strong>contact</strong></a>
                <p>Here you can contact us</p>
            </div>
        </div>
    </div>
</div><!-- End or row from left.ejs -->

    <script>
        $(document).ready(function(){
            $('.menu-trigger').click(function(e){
                $('#nav-icon1').toggleClass('open');
                $('.left-menu').toggleClass('closed');
                e.preventDefault()
            });
        });
    </script>