.btn-submit-green {
    box-shadow: none;
    border: 1px solid #95d600;
    text-transform: uppercase;
    color: #000;
    background-color: #95d600;
    border-radius: 5px;
    font-size: 14px;
    padding: 6px 30px;
    font-weight: 600;
}

.btn-submit-green:hover,
.btn-submit-green:focus,
.btn-submit-green:visited {
    background-color: #95d600;
    color: #000;
    box-shadow: none;
    border: 1px solid #95d600;
}

.btn-login {
    box-shadow: none;
    border: 1px solid #5d2d86;
    text-transform: uppercase;
    color: #5d2d86;
    background-color: #fff;
    border-radius: 5px;
    font-size: 18px;
    padding: 8px 30px;
}

.btn-login:hover,
.btn-login:focus,
.btn-login:visited {
    background-color: #fff;
    color: #5d2d86;
    box-shadow: none;
    border: 1px solid #5d2d86;
}

.btn-form-black {
    box-shadow: none;
    border: 1px solid #1a1a1a;
    text-transform: uppercase;
    color: #1a1a1a;
    background-color: #fff;
    border-radius: 5px;
    font-size: 16px;
    padding: 8px 30px;
    font-weight: 600;
}

.btn-form-black:hover,
.btn-form-black:focus,
.btn-form-black:visited {
    background-color: #1a1a1a;
    color: #fff;
    box-shadow: none;
    border: 1px solid #1a1a1a;
}

.link-info {
    color: #272727;
    text-decoration: underline;
}

.link-info:hover,
.link-info:focus,
.link-info:visited {
    color: #1a1a1a;
    text-decoration: underline;
}

/* Button types */

.btn-trading-type {
    border: 2px solid #5d2d86;
    border-radius: 8px;
    padding: 12px 50px 10px 50px;
    text-transform: uppercase;
    font-weight: 700;
    color: #5d2d86;
    font-size: 14px;
    box-shadow: none;
    background: #ffffff;
}

.btn-trading-type small {
    font-weight: 400;
}

.btn-trading-type:hover,
.btn-trading-type:focus,
.btn-trading-type:visited {
    color: #5d2d86;
    border: 2px solid #5d2d86;
    box-shadow: none;
}

.btn-register {
    background-color: #95d600;
    padding: 12px 50px 10px 50px;
    color: #fff;
    border-radius: 8px;
    border: 2px solid #95d600;
    box-shadow: none;
    font-size: 14px;
    text-transform: uppercase;
}

.btn-register:hover,
.btn-register:focus,
.btn-register:visited {
    color: #fff;
    border: 2px solid #95d600;
    box-shadow: none;
}

.tag-about-us {
    border: 2px solid #5d2d86;
    border-radius: 8px;
    padding: 12px 50px 10px 50px;
    text-transform: uppercase;
    font-weight: 700;
    color: #5d2d86;
    font-size: 14px;
    box-shadow: none;
    background-color: transparent;
    margin: 50px 0 20px;
    display: inline-block;
    width: auto;
}

.footer-buttons {
    text-align: right;
}

.subscriber .footer-btn {
    border: none;
    background: #5d2d86;
    font-weight: normal;
    padding: 14px 24px;
    margin-left: 10px;
    border-radius: 7px;
}

.btn-form-submit {
    background-color: #95d600;
    color: #1a1a1a;
    border-radius: 5px;
    display: block;
    text-align: center;
    padding: 10px 50px;
    text-transform: uppercase;
    font-size: 14px;
    margin: 0 auto;
}

.btn-dashboard {
    border: 1px solid #000;
    color: #000;
    text-transform: uppercase;
    border-radius: 0;
    margin-bottom: 10px;
    padding: 12px 20px;
    width: 200px;
    position: relative;
    overflow: visible;
}

.btn-dashboard:before {
    content: "";
    width: 0px;
    height: 4px;
    position: absolute;
    left: -1px;
    top: -5px;
    background: #95d600;
    -webkit-transition: .5s all ease;
    -moz-transition: .5s all ease;
    -ms-transition: .5s all ease;
    -o-transition: .5s all ease;
    transition: .5s all ease;
}
.btn-dashboard:hover:before {
    width: 200px;
    -webkit-transition: .5s all ease;
    -moz-transition: .5s all ease;
    -ms-transition: .5s all ease;
    -o-transition: .5s all ease;
    transition: .5s all ease;
}

.btn-open-account-anchor {
    border: none;
    box-shadow: none;
    background: transparent;
    text-transform: uppercase;
    font-size: 16px;
    padding: 0;
    margin-bottom: 15px;
}

.btn-open-account-anchor:hover,
.btn-open-account-anchor:focus,
.btn-open-account-anchor:visited {
    border: none;
    box-shadow: none;
    background: transparent;
}

.green {
    color: #95d600;
}

.grey {
    color: #c0c0c0;
}

@media screen and (max-width: 1400px) {
    .footer-buttons {
        text-align: center;
        margin-top: 10px;
    }

    .subscriber .footer-btn {
        margin-top: 10px;
    }

    .btn-trading-type {
        padding: 9px 30px 7px 30px;
        font-size: 12px;
    }

    .btn-register {
        padding: 9px 30px 7px 30px;
        font-size: 12px;
        text-transform: uppercase;
    }
}

@media screen and (max-width: 1024px) {
    .footer-buttons {
        text-align: center;
        margin-top: 10px;
    }

    .subscriber .footer-btn {
        margin-top: 10px;
    }

    .btn-trading-type {
        padding: 9px 30px 7px 30px;
        font-size: 12px;
    }

    .btn-register {
        padding: 9px 10px 7px 10px;
        font-size: 12px;
        text-transform: uppercase;
    }

    .mission .col-md-4 {
        max-width: 350px;
        margin: 15px auto;
    }
}

@media screen and (max-width: 768px) {
    .footer-buttons {
        text-align: center;
        margin-top: 10px;
    }

    .subscriber .footer-btn {
        margin-top: 10px;
    }
}

