<div class="col-xs-hidden col-sm-9">
    <div class="login-form-section">
        <a href="/login"><img src="public/images/login/logo.png" alt="" class="login-logo"></a>
        <div class="login-form">
            <h2 class="form-header"><strong>Client</strong>Office</h2>
            <form>
                <div class="form-group">
                    <label for="email">Email Adress</label>
                    <input type="email" class="form-control" id="email" required>
                </div>
                <div class="form-error-type-icon">
                    <p><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Your email is not valid.</p>
                </div>
                <div class="form-button-placeholder text-center">
                    <button type="submit" style="margin-right: 15px;" class="btn btn-default btn-form-black">SEND</button>
                </div>
            </form>
        </div>
    </div>
</div>