<% include ../../partials/co/header %>
<% include ../../partials/co/left %>
<div class="right-section deposit-section-icons">
    <div class="row">
        <div class="col-xs-12 col-sm-6">
            <form action="">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="form-group">
                            <label for="">Select account*</label>
                            <select name="" id="" class="form-control">                                                                  class="form-control">
                                <option value="">3123213</option>
                                <option value="">3123213</option>
                            </select>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-xs-12 col-sm-6">
            <p>*The currency of the deposit amount should be the same as Real Account's currency. Exchanges of funds
            are not allowed. Please see the Commissions Table to read about applicable commissions.</p>
            <br>
            <p>*This transaction will appear on your monthly credit card statement as FRNG Limited</p>
            <br>
            <p>*Billing Descriptor and City Field: RallyTrade Trade +234 144 08191
            Rally.trade is operated by FRNG Nigeria, located at 21 Adeniyi Jones avenue, Ikeja State, Lagos, Nigeria.
            Credit card transactions are processed by FRNG UK LTD, located in 83 Long Lane, EC1, London, United Kingdom.</p>
        </div>
    </div>
    <hr>
    <br>
    <br>
    <div class="row">
        <div class="col-xs-12 col-sm-3 text-center">
            <img src="/public/images/co/balance.png" alt="">
            <p><strong>$12</strong></p>
        </div>
        <div class="col-xs-12 col-sm-3 text-center">
            <img src="/public/images/co/equity.png" alt="">
            <p><strong>$12</strong></p>
        </div>
        <div class="col-xs-12 col-sm-3 text-center">
            <img src="/public/images/co/free-margin.png" alt="">
            <p><strong>$12</strong></p>
        </div>
        <div class="col-xs-12 col-sm-3 text-center">
            <img src="/public/images/co/margin-level.png" alt="">
            <p><strong>$12</strong></p>
        </div>
    </div>
</div>
</div><!-- End or row from left.ejs -->