<% include ../../partials/co/header %>
<% include ../../partials/co/left %>
<div class="right-section">
    <div class="row">
        <div class="col-xs-12">
            <table class="simple-table">
                <thead>
                    <tr>
                        <td>Account</td>
                        <td>Account type</td>
                        <td>Platform</td>
                        <td>Type</td>
                        <td>Amount</td>
                        <td>Date</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>11829323</td>
                        <td>basic</td>
                        <td>xStation</td>
                        <td>credit</td>
                        <td>$7000</td>
                        <td>2017-02-20 17:48</td>
                    </tr>
                    <tr>
                        <td>11829323</td>
                        <td>basic</td>
                        <td>xStation</td>
                        <td>credit</td>
                        <td>$7000</td>
                        <td>2017-02-20 17:48</td>
                    </tr>
                    <tr>
                        <td>11829323</td>
                        <td>basic</td>
                        <td>xStation</td>
                        <td>credit</td>
                        <td>$7000</td>
                        <td>2017-02-20 17:48</td>
                    </tr>
                    <tr>
                        <td>11829323</td>
                        <td>basic</td>
                        <td>xStation</td>
                        <td>credit</td>
                        <td>$7000</td>
                        <td>2017-02-20 17:48</td>
                    </tr>
                    <tr>
                        <td>11829323</td>
                        <td>basic</td>
                        <td>xStation</td>
                        <td>credit</td>
                        <td>$7000</td>
                        <td>2017-02-20 17:48</td>
                    </tr>
                    <tr>
                        <td>11829323</td>
                        <td>basic</td>
                        <td>xStation</td>
                        <td>credit</td>
                        <td>$7000</td>
                        <td>2017-02-20 17:48</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</div><!-- End or row from left.ejs -->