<% include ../../partials/co/header %>
<% include ../../partials/co/left %>
<div class="right-section">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-sm-offset-3">
            <div>
                <ul class="nav-tabs-form">
                    <li><a href="" id="form-demo">Open<strong>Demo</strong></a></li>
                    <li>
                        <div class="text-center">
                            <img src="public/images/co/logo-form.png">
                        </div>
                    </li>
                    <li><a href="" id="form-real">Request<strong>Real</strong></a></li>
                </ul>
            </div>
            <div class="clearfix"></div>
            <br><br><br>
            <div class="text-center">
                <img src="/public/images/co/platforms-img.png" alt="" class="img-responsive">
            </div>
            <br>
            <div class="text-left"></div>
            <h3 class="upper">x<strong>station</strong></h3>
            <p>Average trade execution is less than 85 milliseconds.xStation requires no installation.</p>
            <br>
            <p>Trade from anywhereand any device: home, office, Internet cafes and Apple devices.
            Market orders, Stop Loss, Take Profit, Pending Ordersexecute all trading actions directly
            from charts.</p>
            <br>
            <p>All your settings, technical analysis, watch lists and workspaces are saved on the
            central server, ready to accessagain from any computer.</p>

        </div>
    </div>
</div>
</div><!-- End or row from left.ejs -->